@import './utils/variables';

.appContainer-light {
  background-color: $light-background;
  color: $light-text;
}
.appContainer-dark {
  background-color: $dark-background;
  color: $dark-text;
}

.header-light {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

}
.header-dark {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.headerH1-light {
  margin-left: 10px;
  margin-top: 10px;
}
.headerH1-dark {
  margin-left: 10px;
  margin-top: 10px;
}

.headerButton-light {
  justify-self: end;
}
.headerButton-dark {
  justify-self: end;
}